.main {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-gap: 15%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  height: 250px;
  width: 500px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 2%;
  border-radius: 20px;
}
